{% extends 'base.html'%}

{% block content %}
<main class="container p-5"> 
    <section class="card card-body">
        <h1>Home</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloribus sapiente accusantium tenetur cum vero
            soluta asperiores, impedit illum amet aut inventore unde expedita illo. Explicabo quis, expedita eum hic
            praesentium distinctio vel numquam vero voluptate nesciunt blanditiis corrupti ullam deserunt! Laudantium
            perferendis inventore ipsa odio beatae! Quo pariatur exercitationem et eveniet eum inventore. Ad dolores nihil
            vitae? Praesentium repellendus illum ut soluta numquam accusamus assumenda nemo labore a nesciunt, fugiat eum
            dolorum. Vitae eaque earum officia rerum suscipit dolorum ex obcaecati nostrum ipsam enim omnis voluptatem
            maxime eum, error ratione ad porro architecto tempore sapiente consequatur laborum eveniet tenetur.
        </p>
    </section>
</main>
{% endblock%}