{% extends 'base.html'%}

{% block content %}
<h1>Tasks Pending</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'taskdetail' task.id %}">
            {% if task.important %}
            <h2 style="color: red;">{{task.title}}</h2>
            {% else %}
            <h2 style="color: blue;">{{task.title}}</h2>
            {% endif %}
            <p>{{task.description}}</p>
            <p>{{task.datecompleated|date:'M j Y:i'}}</p>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock%}